
Projects/11_Birthday_App/password.txt
Projects/14_Rain_Alert/apiKey.txt
Projects/14_Rain_Alert/recCode.txt
Projects/15_Stock_Trading/Trade_Stock.txt
Projects/15_Stock_Trading/new_api.txt
Projects/16_Habit_Tracking/pixela_api.txt
Projects/17_Workout_Tracking/__pycache__/sheety.cpython-311.pyc
Projects/17_Workout_Tracking/__pycache__/nutritionix.cpython-311.pyc
Projects/17_Workout_Tracking/nutritionix_api.txt
Projects/17_Workout_Tracking/sheety_api.txt
